# This requirements file is parsed by setup.py, it should be
# formatted as follows:
#
#   * only lines beginning with `#` are counted as comments
#   * lines starting with `# optional:` indicate the begining
#     of an extra_requires block
#   * lines ending in `python_version < '2.7'` are recognized,
#     but all other python_version requirements are ignored

# This is needed to support `; python_version` conditionals.
pip>=6.0

# All main requirements must go here, optional sections
# last until the next optional tag or to the end of the file.
numpy
six
requests
argparse
shapely
geopandas
pillow
gdal
celery
psycopg2
geoalchemy2
