# This requirements file is parsed by setup.py, it should be
# formatted as follows:
#
#   * only lines beginning with `#` are counted as comments
#   * lines starting with `# optional:` indicate the begining
#     of an extra_requires block
#   * lines ending in `python_version < '2.7'` are recognized,
#     but all other python_version requirements are ignored

# This is needed to support `; python_version` conditionals.
pip>=6.0

# All main requirements must go here, optional sections
# last until the next optional tag or to the end of the file.
six==1.9.0
requests==2.7.0
argparse==1.3.0; python_version < '2.7'
importlib==1.0.3; python_version < '2.7'

# optional: esgf
tabulate==0.7.4

# optional: pandas
geopandas==0.1.1
matplotlib==1.4.3
